<a href="https://colab.research.google.com/github/shalmalirao/scratchpad/blob/main/nb_2026_01_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/ds4e/get_data
%run ./get_data/get_data.py

Cloning into 'get_data'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 27 (delta 2), reused 1 (delta 1), pack-reused 23 (from 1)
Receiving objects: 100% (27/27), 29.15 KiB | 1.27 MiB/s, done.
Resolving deltas: 100% (7/7), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

In [3]:
import pandas as pd

df = pd.read_csv("data/tech_stocks.csv")
df.head()

,Unnamed: 0,symbol,date,open,high,low,close,close_adjusted,volume,split_coefficient
0,0,MSFT,2016-05-16,50.80,51.96,50.75,51.83,49.7013,20032017,1.0
1,1,MSFT,2002-01-16,68.85,69.84,67.85,67.87,22.5902,30977700,1.0
2,2,MSFT,2001-09-18,53.41,55.00,53.17,54.32,18.0802,41591300,1.0
3,3,MSFT,2007-10-26,36.01,36.03,34.56,35.03,27.2232,288121200,1.0
4,4,MSFT,2014-06-27,41.61,42.29,41.51,42.25,38.6773,74640000,1.0